@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_WithMenu.cshtml";
}

<div id="content" >
    <p>
        <label>
            Если ты попал на это сайт, значит тебе пришло письмо с приглашением на нашу свадьбу!
            Чтобы подтверидить свое приглашение жми "Хочу пойти!" и ответь для нас на несколько вопросов.
        </label>
        <br/>
    </p>
    <div>
        <img src="../../Content/images/rsvp.jpg" id="main_pic"/>
    </div>
</div>

