@{
    ViewBag.Title = "Где и когда?";
    Layout = "~/Views/Shared/_WithMenu.cshtml";
}
<div id="content">
    <h4>Место проведения "Рыбацкий хуторок", рыбу ловить не будем, ну а хорошие впечатления обещаем! 
        <br />Мероприятие состоится при любой погоде :)
        <br />ждем вас на месте встречи в 14:40. 
        <br />
        <br/> Из Донецка выезд ориентировочно 14:00, детальнее сообщим дополнительно. Следите за нашими новостями!
    </h4>
    <iframe width=85% height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps/ms?msa=0&amp;msid=202296401514721939331.0004e30e01cb1d9779443&amp;ie=UTF8&amp;t=h&amp;ll=47.870417,37.730398&amp;spn=0.010076,0.018239&amp;z=15&amp;iwloc=0004e30e0e22edf4e9c32&amp;output=embed"></iframe><br /><small>Просмотреть <a href="https://maps.google.ru/maps/ms?msa=0&amp;msid=202296401514721939331.0004e30e01cb1d9779443&amp;ie=UTF8&amp;t=h&amp;ll=47.870417,37.730398&amp;spn=0.010076,0.018239&amp;z=15&amp;iwloc=0004e30e0e22edf4e9c32&amp;source=embed" style="color:#0000FF;text-align:left">Рыбацкий хуторок</a> на карте большего размера</small>
</div>

