@{
    ViewBag.Title = "Start";
}

<div id="page" >
    
    <div id="shapka" align="center" style="vertical-align: top;">
        <a href="#">
            <h1> 
                @Html.ActionLink("Денис и Алена", "Index", "Home")
            </h1>
        </a>
        <div>
            <img src="../../Content/images/shapka.png" id="shapkaImg"/>
        </div>
    </div>

</div>
